.cuerpo{

    background-color: burlywood;
  }

  color: red;
}

.encabezado{
  background-color: brown;
}

/*aqui le doy un borde al titulo*/
#titulo{

  border: 5px silver;
  border-style: inset;
  border-width: 5px;
}



.lorem{
  font-style: oblique;
  color: chocolate;
  border: 5px steelblue;
  border-style:outset
}

ul{
  color:  darkgreen;
}



  
body{
  background-color: bg-success
}
